@import '../../colors';
@import '../../constants';

.tabs {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;

  width: 100%;
  height: $tabs_height;
  padding: 0;
  margin: 0;

  .tab {
    flex: 200px 0 0;
    text-align: center;
    border: 1px solid $border_color;
    border-radius: 7px 7px 0 0;

    font-size: 1.1rem;
    line-height: 100%;
    padding: 5px;
    position: relative;
    top: 1px;

    color: $tab_text;

    &.active {
      cursor: pointer;
    }

    &.disabled {
      color: $disabled_text;
    }

    &.selected {
      background: $form_background;
      border-bottom: 1px solid $form_background;
    }
  }
}
