@import 'src/colors';
@import 'src/constants';
@import 'src/mixins';

.boolean-input {
  @include pick-input-label;

  &__input {
    border-radius: $input_border_radius;
    &.labeled {
      margin-left: 5px;
    }

    div {
      border-radius: calc($input_border_radius / 2);
    }
  }
}
