@import '../../colors';
@import '../../constants';

$field_margin: 8px;
$label_margin: 2px;

.form-item {
  margin: 0;
  padding: 0;
  &:not(:last-child) {
    margin-bottom: $field_margin;
  }

  &:not(:first-child) {
    margin-top: $field_margin;
  }

  &__label {
    display: block;
    font-size: $label_font_size;
    color: $label_color;
    line-height: 100%;
    margin: 0 0 $label_margin 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__field {
    box-sizing: border-box;
    width: 100%;
    margin: $label_margin 0 0 0;

    border: 1px solid $input_border_color;
    border-radius: $input_border_radius;
    padding: 2px 5px;
    background: $input_background;
    outline: none;
    font-size: 1.1rem;

    &:focus {
      outline: 1px solid $input_focus_outline;
    }
  }
}
