@import 'src/colors';
@import 'src/constants';

.wrapper {
  margin: auto;
  width: 600px;
  height: 800px;
  position: relative;

  .main {
    background: $form_background;
    border: 1px solid $border_color;
    width: 100%;
    height: calc(100% - $tabs_height);
    padding: 10px;
  }
}
