@import './colors';

.App {
  margin: auto;
  padding: 0;
  height: 100%;
  width: 1024px;
  background: $app_background;
  position: relative;

  .subApp {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
