$app_background: #fff;
$main_background: #eee;

$border_color: #ccc;

$form_background: #eee;

$input_border_color: #c5c5c5;
$input_background: #fff;
$input_focus_outline: cornflowerblue;

$tab_text: #000;
$disabled_text: #ddd;

$label_color: #aaa;

$button_border_color: #c5c5c5;
$button_background: #ddd;

$reset_border_color: #c85;
$reset_background: #fa7;
$reset_text_color: #fff;

$submit_border_color: #5c5;
$submit_background: #7f7;
