@import 'src/colors';
@import 'src/constants';

@mixin pick-input-label {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  height: $pick_size;
  width: 100%;
  font-size: $label_font_size;
  color: $label_color;
  line-height: 100%;
  cursor: pointer;

  input {
    display: none;
  }

  &__input {
    flex: $pick_size 0 0;
    width: $pick_size;
    height: $pick_size;
    padding: 3px;
    margin: 0;
    box-sizing: border-box;

    border: 1px solid $input_border_color;
    outline: none;
    background: $input_background;

      &.checked>div {
        background: #00f;
        height: 100%;
      }
  }
}
